@model DummyProjectSM.Models.UserModel

@{
    /**/

    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<h3>Username: @Model.UserName</h3>

@using (Html.BeginForm("Post", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h2>Post Images</h2>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <img class="profilepic" src="@Model.ProfilePicURL" />

    <div>
        <input name="file" type="file" accept="image/png, image/jpeg" /> <br />

        <input type="submit" value="Upload" />

        @ViewBag.Message

    </div>

    <br />
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.UserBio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserBio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserBio, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <br />

    @ViewBag.Message

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}

<p>Diet:</p>
<p>Weight</p>
<p>Favorite Food:</p>
<p>Gender:</p>
